.points-header-root {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.points-header {
    top: 12px;
    left: 12px;
    z-index: 1001;
    background: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    font-size: 1.2rem;
    margin: 0;
}
