.tree-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tree-top {
  display: flex;
  flex-direction: column;
}

.tree-top-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tree-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

