.description-popover .description-content {
  color: black;
  background: bisque;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  max-width: 320px;
  max-height: 60vh;
  overflow: auto;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  border: 4px solid rgba(0,0,0,1);
  opacity: 75;
}

.description-close {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  background: black;
  cursor: pointer;
  font-size: 14px;
}
