.tree-section {
  display: flex;
}

.tree-section-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tree-section-summary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree-section-summary-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
