.node-root {
    width: 140px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    z-index: 1;
}

.stat-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.node-image-button {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.node-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    display: block;
}
