.info-overlay {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 1000;
    color: black;
    background: bisque;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    max-width: 400px;
    max-height: 60vh;
    overflow: auto;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    border: 5px solid rgba(0,0,0,1);
    opacity: 75%;
}

.info-overlay.minimized {
    width: 60px;
    height: 50px;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    line-height:1;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 40px;
    height: 30px;
    border: 1px solid #111;
    border-radius: 6px;
    background: #242424;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.info-overlay.minimized .info-toggle {
    position: static;
}

.info-content {
    padding-right: 1.5rem;
}

.info-title {
    margin-top: 0;
    color: black;
    font-size: 1.1rem;
}

.info-message {
    margin-bottom: 0;
    color: black;
    font-size: 0.9rem;
}