* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111111;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tree-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  user-select: none;
  cursor: grab;
}
.App.dragging .tree-wrapper,
.tree-wrapper.dragging {
  cursor: grabbing;
}

.tree-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  --scale: 1;
  --pan-x: 0px;
  --pan-y: 0px;
  transform:
          translate(-50%, -50%)
          scale(var(--scale, 1))
          translate(var(--pan-x, 0px), var(--pan-y, 0px));
  transform-origin: center center;
  transition: transform 0.12s ease-out;
  will-change: transform;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

